.card_product {
  padding: 1%;
  opacity: 0.8;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
  margin: 1%;
  height: 250px;

  min-width: 180px;
  width: 200px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  .card__name {
    white-space: normal;
    justify-content: center !important;
    display: flex !important;
    padding: 0 6% 0 6%;

    align-items: center;
    justify-content: center;
    min-width: 160px;
    width: 100%;
    height: 20%;
    font-size: 0.9rem;
    text-align: center;

    color: black;
    font-weight: bold;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }
  .card_product_absolute {
    height: 80%;
    display: block;
    transition: 0.5s;
    width: 100%;

    .ui.image.imagen {
      padding: 1%;
      border-radius: 1rem !important ;
      object-fit: contain;
      cursor: pointer;
      height: 77%;
      width: 100%;
      margin: auto;
    }
    .card__precis {
      height: 23%;

      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      justify-content: space-evenly;
      transition: 0.5s;
      .card_price {
        .card__preci--now {
          font-size: 1.5rem;
          color: black;
          display: block;
          text-align: center;
          font-weight: bold;
        }
        .card__preci--before {
          font-size: 1rem;
          text-decoration: line-through;
          color: #ff5151;
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }

      .card__icon {
        position: relative;

        font-size: 1.5rem;

        color: #0aa3a8;
        &:hover {
          color: #f51bad;
          transition: 0.4s ease-in-out;
        }

        .far.fa-heart.pink_ {
          position: relative;

          color: #f51bad !important ;
        }
        .far.fa-heart {
          position: relative;
          transform: scale(1);
          z-index: 2;
          color: #0aa3a8;

          &:hover {
            color: #f51bad;
          }
        }
        .fa-heart {
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(0);
          color: #f51bad;
          transition: 0.4s ease-in-out;
        }
        .fa-heart.fill {
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(1);
          color: #f51bad;
        }
        &.cart {
          .fa-shopping-cart.pink {
            color: #f51bad;
          }
        }
      }

      i {
        cursor: pointer;
        margin: 0%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .card_product {
    height: 230px;
  }
}
