.card_product {
  opacity: 0.8;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
  margin: 1%;
  min-width: 180px;
  width: 200px !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  .card_product_absolute {
    display: block;
    transition: 0.5s;
    width: 100%;
    .ui.image.imagen {
      cursor: pointer;
      height: auto;
      width: 160px;
      margin: auto;
    }
    .card__precis {
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      justify-content: space-evenly;
      transition: 0.5s;
      .card_price {
        padding: 3%;
        .card__preci--now {
          font-size: 1.5rem;
          color: #05665a;
          display: block;
          text-align: center;
          font-weight: bold;
        }
        .card__preci--before {
          font-size: 1rem;
          text-decoration: line-through;
          color: #ff5151;
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }

      .card__icon {
        position: relative;

        font-size: 1.5rem;

        color: #0aa3a8;

        .heart.outline.pink_ {
          position: relative;

          color: #f51bad !important ;
        }
        .heart.outline {
          position: relative;
          transform: scale(1);
          z-index: 2;
          color: #0aa3a8;

          &:hover {
            color: #f51bad;
          }
        }
        .heart {
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(0);
          color: #f51bad;
          transition: 0.4s ease-in-out;
        }
        .heart.fill {
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(1);
          color: #f51bad;
        }
      }
      i {
        cursor: pointer;
        margin: 0%;
      }
    }
  }
  .card__name {
    padding: 2%;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    width: 100%;

    border-radius: 1rem, 1rem 0 0;

    text-align: center;
    background: #13a3a8;
    color: #fff;
    font-weight: bold;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }
}
