.page-categorias {
  .tabs-categorias {
    margin: 0 !important;
    .ui.grid {
      margin: 0 !important;
      .four.wide.column {
        width: 20% !important;
        .ui.menu {
          position: sticky;
          top: calc(80px + 1rem);
        }
      }
      .stretched.twelve.wide.column {
        width: 80% !important;
        .ui.segment {
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .page-categorias {
    .tabs-categorias {
      margin: 0 !important;
      .ui.grid {
        margin: 0 !important;
        .four.wide.column {
          width: 37% !important;
          .ui.menu {
            font-size: 0.85rem;
          }
        }
        .stretched.twelve.wide.column {
          width: 63% !important;
        }
      }
    }
  }
}
