.searchCardAbsolute {
  position: absolute;
  top: 50px;
  padding-top: 5px;
  .searchCard {
    z-index: 4;

    justify-content: start;
    width: 300px;

    background: white;
    border-radius: 1rem;
    .one-product {
      padding: 1%;
      align-items: center;
      width: 100%;
      display: flex;
      img {
        object-fit: contain;
        margin: auto;
        width: 20%;
        height: 70px;
      }
      .title {
        font-size: 0.95rem;
        width: 60%;
      }
      .precio {
        width: 20%;
      }
      &:hover {
        border-radius: 1rem;
        background-color: whitesmoke;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .searchCard {
    left: -50px;
  }
}
