.searchCardAbsolute {
  position: absolute;
  top: 50px;
  padding-top: 5px;
  .searchCard {
    z-index: 4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    justify-content: start;
    width: 300px;

    background: white;
    border-radius: 1rem;
    .one-product {
      padding: 1%;
      align-items: center;
      width: 100%;
      display: flex;
      .container_img {
        display: flex;
        width: 30%;
        img {
          border-radius: 0.6rem;
          object-fit: cover;
          margin: auto;
          width: 70px;
          height: 70px;
        }
      }
      .title {
        color: black;
        font-size: 0.95rem;
        width: 50%;
      }
      .precio {
        color: $primary;
        width: 20%;
      }
      &:hover {
        border-radius: 1rem;
        background-color: whitesmoke;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .searchCardAbsolute {
    left: -50px;
  }
}
