html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  min-width: 300px;
  min-height: 600px;
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
