.summary-cart {
  padding: 0%;
  .title {
    width: max-content;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  .data {
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  &_product {
    td {
      text-align: center !important;
      &:first-of-type {
        align-items: center;

        img {
          margin: auto;
          width: 100px;
        }
      }
    }
  }
  &_resume {
    td {
      &:last-of-type {
        text-align: center !important;
      }
    }
    .total-price {
      color: purple;
      font-weight: bold;
      font-size: 20px;
    }
    .clear {
      border-bottom: 1px solid whitesmoke !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .summary-cart {
    font-size: 0.8rem !important;
    &_product {
      td {
        &:first-of-type {
          align-items: center;

          img {
            margin: auto;
            width: 80px;
          }
        }
      }
    }
  }
}
