.summary-cart {
  padding-top: 1rem !important;
  padding: 0%;
  .title {
    margin-left: 1rem !important;
    width: max-content;
    border-radius: 1.2rem 1.2rem 0 0;
    background-color: #202040;
    color: white;
    padding: 1% 1.2%;
    font-weight: bold;
  }
  .data {
    background-color: white;
    margin: 0 1rem 0 1rem;
  }
  &_product {
    td {
      text-align: center !important;
      &:first-of-type {
        align-items: center;
        position: relative !important;
        i {
          position: absolute !important;
          top: 3%;
          right: 3%;
          z-index: 2;
        }
        img {
          margin: auto;
          width: 100px;
        }
      }
    }
  }
  &_resume {
    td {
      &:first-of-type {
        text-align: center !important;
        font-weight: bold;
        font-size: 1.3rem;
      }
      &:last-of-type {
        text-align: center !important;
      }
    }
    .total-price {
      color: purple;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .summary-cart {
    font-size: 0.8rem !important;
    .title {
      border-radius: 0.9rem 0.9rem 0 0;
    }
    &_product {
      td {
        &:first-of-type {
          align-items: center;

          img {
            margin: auto;
            width: 80px;
          }
        }
      }
    }
  }
}
