.dropdown-menu {
  font-weight: 520;
  background: rgb(95, 61, 139);
  font-size: 1.1rem !important;
  width: max-content;
  position: absolute;
  top: 80px;
  left: 0px;
  list-style: none;

  .nav-links {
    padding-top: 7% !important;
    padding-bottom: 7% !important;
  }
  .nav-links:hover {
    background-color: #fff;
    color: #242424 !important;
    border-bottom: 0 !important;
    border-radius: 0;
  }
}
.dropdown-menu.clicked {
  display: none;
}
@media screen and (max-width: 960px) {
  .dropdown-menu {
    width: 100%;
    position: relative;
    top: 0px;
    .nav-links {
      padding: 2rem !important;
    }
  }
}
