.card-container {
  background-color: white;
  display: flex;
  width: 220px;
  height: 250px;

  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 1.2%;

  transition: 0.5s;
  a.card-container {
    text-decoration: none;
  }
  .card-absolute {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 250px;

    .imagen {
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      height: 85%;
      width: 100%;

      margin: auto;
    }
    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
      font-size: 1.2rem;
      margin: 0%;
      text-align: center;
      color: #0aa3a8;
    }
  }
}
.card-container:hover {
  transform: scale(1.06);
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 180px;
    height: 210px;

    .card-absolute {
      width: 180px;
      height: 210px;

      .imagen {
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .card-container {
    width: 190px;
    height: 220px;

    .card-absolute {
      width: 190px;
      height: 220px;

      .imagen {
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 200px;
    height: 230px;

    .card-absolute {
      width: 200px;
      height: 230px;

      .imagen {
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .card-container {
    width: 210px;
    height: 240px;

    .card-absolute {
      width: 210px;
      height: 240px;

      .imagen {
      }
    }
  }
}
